*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
html,body{
  font-family: "Gill Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom:0;
}
ul{
  margin:0;
  padding:0;
}
:root{
  --background :#fff;
  --left-sider:#001529;
  --right-sider:#FFFFFF;
  --title:#0C0C0C;
  --background-color:linear-gradient(180deg,#fbf7fc,#c7ddf6);
  --text:#000;
  --text-primary:#0000007a;
  --text-hover:rgba(0, 0, 0, 0.1);
  --table-cell-color:#f0f0f0;
  --table-cell-row-hover:#fafafa;
  --table-sorter:rgba(0,0,0,0.29);
  --table-column-sort:#fafafa;
  --ant-icon-search:#d0cfcf;
  --box-color:#ffffff;
  --table-head-color:#fafafa;
  --box-shadow:4px 4px 8px rgba(0,0,0,0.5);
  --form-background:#fff;
  --slider-rail: rgba(0,0,0,0.4);
  --list-border:rgba(0,0,0,0.5);
  --background-list:rgba(255,255,255,0.1);
  --card-header-background:rgb(14, 222, 225);
  --task-item-background:#f3f1f1;
  --scroll-bar-x:#a8a8a8;
  --scroll-bar-y:#f1f1f1;
  --header:#0EDEE1;
}
.dark-mode{
  --right-sider:#0c0c0c0c;
  --background-color: #0C0C0C;
  --title:#fffffff0;
  --text:#ffffffe4;
  --text-primary:#ffffff9c;
  --text-hover:rgba(255, 255, 255, 0.943);
  --active-color:#000;
  --table-cell-color:#022341;
  --table-cell-row-hover:#3d5d7c;
  --table-sorter:rgba(255,255,255,0.29);
  --table-column-sort:#2a567e;
  --ant-icon-search:#edececbc;
  --box-color:#ffffffe2;
   --table-head-color:#043f77;
   --right-sider:#021424d8;
   --box-shadow:2px 2px 4px rgba(255,255,255,0.5);
   --background:#010b2c;
   --form-background:#044782;
   --slider-rail: rgba(255,255,255,0.4);
   --list-border:rgba(255,255,255,0.5);
   --background-list:#022341;
   --card-header-background: #02144e;
   --task-item-background:#022341;
   --scroll-bar-x:#042fa6b3;
   --scroll-bar-y:#0213576b;
   --header:#02144e;
}
.ant-table-cell{
  background-color: var(--table-cell-color);
  color:var(--text);
}
.ant-table-cell-row-hover{
  background-color:var(--table-cell-row-hover)!important;
}
.ant-table-thead tr th {
  background-color: var(--table-head-color)!important;
  color:var(--text)!important;
}
.ant-table-column-sorter-inner {
  color:var(--table-sorter);
}
.ant-pagination{
  color:var(--text);
}
.ant-pagination-item-active{
  background:var(--box-color)!important;
  color:var(--active-color);
}
.ant-pagination-prev .anticon-left{
  color:var(--text) !important;
}
.ant-pagination-next .anticon-right{
  color:var(--text) !important;
}
.ant-pagination-item-ellipsis  {
  color:var(--text)!important;
}
.ant-list-item {
  border-block-end: 1px solid  var(--text)!important;
}
.time-tracking-display{
  color:var(--text)!important;
}
.anticon.anticon-search{
  color:var(--ant-icon-search);
}
.ant-table-wrapper td.ant-table-column-sort{
  background-color: var(--table-column-sort);
}
.ant-pagination-options .ant-select-selector{
  background:var(--box-color)!important;
}
.form-group .ant-select-selector{
 background-color: var(--form-background) !important;
  outline: none;
  color:var(--text)!important;
}

.ant-layout-sider-children p .anticon{
  color:var(--text);
}
.ant-list-bordered{
  border: 1px solid var(--list-border);
}
.ant-list{
  background:var(--background-list);
}
.menu-item {
  color:var(--text);
  font-size: 16px;
  margin-left: 10px;
}

.menu-item:hover {
  text-decoration: none;
  color:var(--text-hover);
  font-weight: 600;
}
 
.content-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-image: url("./../public/background.jpg"); */
  background: var(--background-color);
   overflow: scroll;
  padding: 20px;
}
.create-project-container{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--form-background);
  padding: 20px;
}
/*Login input */
.login-input{
  width: 25vw !important;
}
.login-form{
  background : white;
  border-radius : 25px ;
  padding:  30px ;
  position:  relative ;
  top:  50% ;
  left:   50% ;
  transform: translate(-50%, -50%) ;
  width:  33vw ;
  box-shadow:  2px 3px 34px -8px rgba(0,0,0,0.78) ;
  transition: 1s ease-in;
} 
.signup-page{
  background-image: url(".././public/background.jpg") ;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form{
  background: white;
          border-radius: 25px;
          padding: 30px;
          width: 50%;
          box-shadow: 2px 3px 34px -8px rgba(0,0,0,0.78);
          align-items: center;
          text-align: center;
          transition: 1s ease-in;
}
.ant-drawer-body{
  background-color: var(--background);
}
.ant-drawer-header{
  background-color: var(--background);
}
.anticon-close{
  color:var(--text);
}
.cancel-button{
  color:var(--text);
  background-color: var(--background);
}
.ant-select-selection-overflow{
  overflow: hidden;
  max-height: 100% !important;
}
.ant-slider-rail{
   background:var(--slider-rail)!important;
}
.ant-list-item div{
  color:var(--text);
}
/* :where(.css-dev-only-do-not-override-1b0bdye).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1b0bdye).ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background-color: #001529;
} */
.ck.ck-button.ck-on:not(.ck-disabled):hover{
  border:1px solid var(--text);
}
.ck.ck-button.ck-on{
  border:1px solid var(--text); 
}
.ant-select-selector,
.ant-select-selector:hover{
  background-color: var(--background) !important;
  color:var(--text)!important;
}
 
.ant-select-selector .ant-select-selection-search-input {
  color:var(--text)!important;
}
.ant-select .ant-select-selection-placeholder{
  color:var(--text-primary);
}
.popover-add-user{
  background-color: var(--background)!important;
  color:var(--text)!important;
}
.dropdown-bar{
  position:absolute;
  top:0;
  left:50px;
  display: none;
  z-index:10;
}
.menu-button{
  color:var(--text);
  width:160px;
  border:none;
  height: 30px;
  border-radius:2px;
  box-shadow: var(--box-shadow);
  font-size:20px;
  background:var(--background);
}
.logout-button{
  height: 30px;
  line-height: 100%;
  box-shadow:var(--box-shadow);
  outline: none;
  opacity: 0.5;
  font-weight: bold;
  display: none;
  
}
.logout-button p{
   
  color:var(--text);
}
.dark-sider-button{
  font-size: 16px;
  width: 100%;
  height: 64;
  padding: 18px;
  display: flex;
  justify-content: right;
  align-items: center;
}
/* :where(.css-dev-only-do-not-override-1b0bdye).ant-btn.ant-btn-icon-only {
  width:50px;
  padding-inline-start: 0;
  padding-inline-end: 0;
} */
.dropdown-menu.controller-menu{
    box-shadow:var(--box-shadow);
    transition: all 1s !important;
    padding-left:15px;
    color:var(--text)!important; 
    background-color: var(--background);
}
.dropdown-menu.controller-menu p a{
  color:var(--text);
}
 
.homepage-header{
  display: flex;
  justify-content: space-between;
}
.error{
  color:red;
}

/* Validation email */
#email-validation{
  color:red;
}

 

.ant-layout {
  flex: unset !important;
}

.sider-container {
  display: flex;
  align-items: flex-start;
}

.menu-sidebar-item {
  font-size: 40px;
  font-weight: 600;
}
.tox-tinymce-aux {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  z-index: 1300;
  display: none !important;
}
  
 .nav-crumb {
  margin-bottom: 106px;
}

.row {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}
h1,
h3 {
  color: #333;
}

.input-label{
  color:var(--text);
}
.input-form{
  color:var(--text)!important;
  background-color:var(--form-background)!important;
}
.ck{
  background-color: var(--form-background)!important;
  color:var(--text)!important;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 1px;
  margin-bottom: 20px;
}
 

.avatar {
  margin-right: 5px;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.ant-breadcrumb {
  
  padding: 10px;
  border-radius: 5px;
}

.ant-breadcrumb-item a {
  color: #1890ff;
}

.ant-breadcrumb-separator {
  color: #666;
}
.tasklist-bar {
  display: flex;
}

/* /* .ant-select-selector {
  display: none !important;
} */

  .tox.tox-tinymce {
  height: 300px !important;
}

.form-group {
  position: relative !important;
  align-self: stretch !important;
}   

.form-wrapper {
  flex-grow: 1;
  width: "100%";
  height: "100%";
  background-size: "cover";
}

.title {
  color:var(--title);
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.ant-layout-sider.ant-layout-sider-dark.d-flex.justify-content-center {
  height: 100%;
  padding: 20px 0;
}

.sider-container{
  display: flex;
  align-items:flex-start;
   
}

.menu-sidebar-item{
  font-size:40px;
  font-weight:600;
}
 
 
 

.nav-crumb {
  margin-bottom: 106px;
}

.row {
  margin-top: 20px;
}


h1, h3 {
  color: #333;
}

 



 
.avatar {
  margin-right: 5px;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.ant-breadcrumb {
  
  padding: 10px;
  border-radius: 5px;
}

.ant-breadcrumb-item a {
  color: #1890ff;
}

.ant-breadcrumb-separator {
  color: #666;
}
.tasklist-bar{
  display: flex;
  justify-content: center;
}
/* styles.css */
 .container {
  margin-top: 50px;
}

h3 {
  color: #333;
}

.form-item {
  margin-bottom: 16px;
}

.bg-orange-400 {
  background-color: #ff9800;
  color: #fff;
  border: none;
}
 


/* Add these styles to your existing CSS file or create a new one */

.modal-content {
  border-radius: 10px;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:none;
}

.task-title {
  display: flex;
  align-items: center;
}

.task-title select {
  margin-left: 10px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.task-click {
  display: flex;
  align-items: center;
}

.modal-body {
  padding: 20px;
}

.issue {
  color: #17a2b8;
}

.description {
  margin-top: 20px;
}

.block-comment {
  margin-top: 20px;
}

.avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.input-comment input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.latest-comment {
  margin-top: 20px;
}

.progress-bar {
  background-color: #28a745;
}

.logged, .estimate-time {
  font-size: 12px;
  margin-bottom: 0;
}

.row {
  margin-top: 10px;
}

.custom-select, .form-control {
  width: 100%;
  margin-top: 10px;
}

.estimate-hours {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.time-tracking {
  margin-top: 20px;
}


.custom-modal {
  max-width: 60%!important; 
 
}
@media (max-width: 767px) {
 
  .container1{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .container1{
    display: none;
  }
}

@media (min-width: 992px) {
  .container1{
    display: none;
  }
}  

/* Project Detail*/
.pri-sign{
  color:var(--text);
}
.draggable-task{
  outline: none;
  transition: all 1s ease;
  border:none;
  border-radius: 0.1rem!important;
  margin :0.5rem;
  background-color:  var(--task-item-background)  !important;
}
.draggable-task:hover{
  transform:translateY(-10px);
  box-shadow:  8px 8px rgba(0,0,0,0.5);  
  border-radius:5px;
}
.draggable-task:active{
  box-shadow:  4px 8px  rgba(0,0,0,0.6);
  border-radius:5px;
  background-color: rgba(255,255,255,0.4);
}
.breadcrumb-projectdetail{
  text-align: right!important;
}
.checkbox-container{
  height: 25px;
}
.input{
  border-color: rgba(255,255,255,0.6);
  background-color: rgba(255,255,255,0.4);
  top:10px;
  position: absolute;
  font-size: 1px!important;  
}
.assigness-avatar{
  background: #56f856;
}
.task-type-selector{
  border:none;
  border-radius:5px;
  outline: none;
}
.text-detail{
  color:rgb(41, 158, 43);
  text-transform:uppercase;
}
.avatar{
  font-size:1.5rem;
}
.avatar img{
  width: 2.5rem;
  height: 2.5rem;
}
.assigness-name{
  font-size:1.3rem;
}
 
.assigness-selector{
 padding: 0  !important;
}
/* comment */
.display-comment{
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(240, 238, 238, 0.8);
  padding:0.5rem;
  border-radius:3px;
  margin-bottom:1rem;
}
/* user management */
.home-container{
  /* background-image: url("./../public/background.jpg"); */
  background-color: #17a2b8!important;
}
.ant-layout-header{
  background-color: #17a2b8!important;
  padding:0.5rem !important;
}
.home-container{
  position:absolute;
  top:0 ;
  left:22vw;
  height: 100vh;
  width: 70vw;
}
 
/* controll bar responsive */
/* comment */
 
.comment-item{
  height: 35vh;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-x) var(--scroll-bar-y);
}
.login-notification{
  width: 100vw;
  height: 100vh;
  position: fixed ;
  top:0;
  left:0;
  z-index:10000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex ;
  justify-content: center;
  align-items: center;
}
.card-notification{
  background-color: #ccc;
  width: 25vw  ;  
  height:25vh;
}
/* arrow changed */
.arrow-display{
  display: block;
}
/* .toggleMask{
  position: absolute;
  top:-20px;
  right: 40px;
  text-indent: -30px;
  height:100%;
  line-height: 2;
  pointer-events: auto;
  z-index: 5;
  cursor: pointer;
}
.toggleMask ~ input{
  padding-right: 30px;
}
  */
#feedback{
  color:red;
}
.anticon svg {
  display: inline-block;
  
  font-size: 14px;
  
}
.validate-text {
  color:red;
}
.board{
  margin-right: 150px;
}
.avatar-container-detail{
  display: flex;
}
.list-project-jira{
  display: none;
}
.list-user-jira{
  display: none;
}
.modal-users{
  width: 50vw !important;
  height: 80vh !important;
  transition: all 0.5s ;
}
.modal-users-container{
  height: 50vh;
}
.users-container{
  overflow:scroll;
  height: 100%;
  scrollbar-color:var(--scroll-bar-x) var(--scroll-bar-y);
  scrollbar-width: thin;
}
.add-user-btn{
  border-radius: 50% !important;
}
.avatar-container-detail-resp{
  display: none!important;
}
.users-avatar{
  display: flex!important;
}

.avatar-group{
  display: flex;
}
.avatar-group-responsive{
  display: none;
}
.avatar-remaining{
  width: 30px!important;
  height: 30px!important;
  margin-top:4.5px;
}
.account-actions{
  position: absolute;
  top:0;
  left:220px;
  z-index:10000;
}

.logout-button:hover{
opacity: 1;
}
.tasks-container{
  transition: all 2s ease;
}
.white-sider{
  height: 100vh !important;
  background-color: var(--right-sider) !important;
}
/* project detail */
.text{
  color:var(--text);
}
.card-task-list{
  width: 90%;
   background-color: var(--background);
  border: var(--list-border);
}
 
.card-header {
 
  font-weight: bold;
  font-size: 14px;
  min-height: 60px;
  background:var(--card-header-background);
  border-radius:1px!important;
  color:var(--text);
}
.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.ant-list-item-meta-title,
.ant-list-item-meta-description{
  color:var(--text)!important;
}
.modal-header{
  background-color: var(--header);
  color:var(--text);
}
.modal-body{
  background-color: var(--form-background);
  color:var(--text)
}
.modal-task-detail select,
.modal-task-detail select:hover,
.modal-task-detail input,
.modal-task-detail input:hover{
  background-color:var(--background);
  color:var(--text);
}
@media (max-width:1700px){
  .card-task-list{
    width: 100%;
  }
  .avatar-group{
     display: none;
  }
  .avatar-group-responsive{
    display: flex;
  } 
}
@media (max-width:1280px) {

  .login-form{
    width: 50vw ;
  }
  .modal-users{
    width: 65vw !important;
  }
  .avatar-container-detail-resp{
    display: flex!important;
  }
  .avatar-container-detail{
    display: none!important;
  }
}
 
@media (max-width:992px) { 
  .card-task-list{
    width: 100%;
  }
  .login-form{
    width: 76vw ;
  }
  .signup-form{
    width:80vw;
  }
  .dark-sider{
 
    width: 50px !important;
    max-width: 50px !important;
    min-width: 50px !important;
  }
  .dark-sider-button{
    display: none !important;
  }
  
  .dropdown-bar{
    display: block;
  }
  .white-sider{
    display: none !important;
  }
  .modal-users{
    width:80vw!important;
  }
  .logout-button{
    display: block;
    }
  .custom-modal{
    max-width: 90% !important;
  }
}
@media (max-width:667px) {
  .login-form{
    width: 100vw;
  }

  .board{
    margin-right: 5px !important;
  }
 
  .modal-users{
    width:99vw!important;
  }

  #task-container{
    width:100%!important;
  }

  .card-task-list{
    width: 70%;
  }
  .custom-modal{
    max-width: 100% !important;
  }
}
@media (max-width:800px){
  .list-project-jira{
    display: block !important;
    }
    .list-user-jira{
      display: block!important;
    }
    .table-project-jira{
      display: none !important;
    }
    .user-table{
      display: none !important;
    }
}

.input{
visibility: hidden;
}
.label{
  position:absolute;
  width: 40px;
  height: 20px;
  border-radius:25px;
  background-color:black;
  box-shadow:2px 2px 4px 2px rgba(255,255,255,0.4);
} 
.circle{
  position: absolute;
  width: 17px;
  height: 17px;
  background-color:rgba(255, 255, 255, 0.844);
  border-radius: 25px;
  top: 1.5px;
  left: 1.5px;
  animation: toggleOff 0.4s linear forwards;
}
.input:checked + .label{
  background-color:rgba(255, 255, 255, 0.801);
}
.input:checked + .label .circle{
  background-color:black;
  animation: toggleOn 0.4s linear forwards;
 
}
.ant-modal-title{
  color:var(--text)!important;
}
.ant-modal-content{
  background-color: var(--form-background)!important;
}
.ant-modal-header{
  background-color: var(--form-background)!important;
}
.ant-select-selection-search input::placeholder{
  color:--
}
@keyframes toggleOn {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(20px);
  }
}
@keyframes toggleOff {
  0%{
      transform: translateX(20px);
  }
  100%{
      transform: translateX(0);
  }
} 