.content-container{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height:100vh;
  z-index:1030;
  position:absolute;
  width: 80%;
  height:80%;
  top:50%;
  left:55%;
  transform:translate(-50%,-50%);
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-layout.ant-layout-has-sider >.ant-layout-content {
  width: 0;
  padding: 0 70px !important;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-layout .ant-layout-sider-has-trigger {
  
}
.sider-container{
  display: flex;
  align-items:flex-start;
   
}